body {

  font-size: 20px;
 
  color: black;
  background-color:lightgrey;
  text-align: center;


}

.buttonContainer {
    padding: 20px;
}

#rock {
  font-size: 200px;
}

#paper {
  font-size: 200px;
}

#scissors {
  font-size: 200px;
}
